<!doctype html>
<html lang="en">

<head>
	<!-- font from typekit css -->
	<link rel="stylesheet" href="https://use.typekit.net/taq7hkp.css">

	<!-- font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	 crossorigin="anonymous">

	<!-- general css files -->
	<link rel="stylesheet" href="sass/childpages.css" />
	<link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

	<!-- specific css files -->
	<link rel="stylesheet" href="stylesheets/aboutStyle.css" />

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="images/logo.png" />

	<!-- page title -->
	<title>About</title>
</head>

<body>
	<!-- ejs menu (nav bar navigation) -->
	<% include partials/menu %>

	<!-- background -->
	<div class="bg">
		<div class="triangle-right"></div>
		<div class="triangle-down"></div>
		<!-- Page Content -->
		<div class="container modal-dialo">
			<div class="row">
				<!-- about us title -->
				<div class="title text-center col-12 col-sm-12 col-md-12 col-lg-12">
					<h1 class="smallWordTitle">About Us</h1>
				</div>
			</div>
			<!--about paragraph -->
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<p>
						Starting off as a popcorn company, Wabash Valley Farms endeavoured into the world of entertainment and
						technology, Tanking a daily used items and turning them into an entertaining complex system.
					</p>
					<p>
						The Mood Setter assists in creating an ambiance in an environment with the use of LED lights, Tea light
						candles and music. This device along with the Web application gives a completely personalizable speaker including
						exterior pattern options, LED color options, as well as the ability to pick your own music via bluetooth speaker.
						Not only is the design contemporary, it is also expertly designed to be durable, and resistant to most
						weathering.
					</p>
					<p>
						The Mood Setter is perfect for entertaining in a restaurant or at home. The customizability captivates others
						attention and keeps the mood going.
					</p>
				</div>
			</div>
			<!-- /.container -->
			<!-- footer -->
			<br /><br /><br />
			<% include partials/footer %>
		</div>
	</div>
	<!-- end of content -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

</html>