/* preview color */
#wrapper {
	border: thin solid lightgray;
	padding: 13% 35%;
	background-color: rgba(0,0,0,0);

} 
/* for each color container (slider & title) */
#slider-red-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	height: auto;
	width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
}
#slider-green-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	height: 40px;
	width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
}
#slider-blue-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	height: 40px;
	width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
}
#text-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	height: 40px;
	width: 100%;
}
.colorTops{
	margin-top:15px;
}
/* font styles */
.textColorNames{
	margin-top: 45px;
	padding-left: 7px !important; 
}
.textColorValue{
	margin-top: 30px;
	padding-left: 0px !important;
}
/* color sliders */
.line {
	position: relative;
	top: 21px;
	height: 2px;
	width: 100%;
	background-color: rgba(0,0,0,1);
}
.slider {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
}
/* per color value */
#info-red {
	margin-left: auto;
	margin-right: auto;
	margin-top: 13px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-family: helvetica;
	border: 1px solid black;
}
#info-green {
	margin-left: auto;
	margin-right: auto;
	margin-top: 13px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-family: helvetica;
	border: 1px solid black;
}

#info-blue {
	margin-left: auto;
	margin-right: auto;
	margin-top: 13px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-family: helvetica;
	border: 1px solid black;
}
/* per color slider */
.jbslider-handle-red {
	position: relative;
	height: 40px;
	width: 15px;
	background-color: rgba(0,0,0,1);
}
.jbslider-handle-green {
	position: relative;
	height: 40px;
	width: 15px;
	background-color: rgba(0,0,0,1);
}
.jbslider-handle-blue {
	position: relative;
	height: 40px;
	width: 15px;
	background-color: rgba(0,0,0,1);
}

